<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
  <p th:if="${account}" th:utext="|안녕하세요, ${account}님.|"></p>

  <form method="post">
    <input type="radio" name="searchType" id="title" value="제목">
    <label for="title">제목</label><br>
    <input type="radio" name="searchType" id="writer" value="글쓴이">
    <label for="writer">글쓴이</label><br>

    <input type="search" name="search" placeholder="검색어를 입력하세요.">
    <input type="submit" value="검색"><br>
  </form>

  <table border="1">
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>날짜</th>
    </tr>

    <tr th:each="b, stat : ${boardList}"
        th:onclick="|location.href='@{/board/post(id=${b.id})}'|"
        style="cursor:pointer">
      <td th:text="${stat.count}"></td>
      <td th:text="${b.title}"></td>
      <td th:text="${b.writer}"></td>
      <td th:text="${b.date}"></td>
    </tr>
  </table>
</body>
</html>