<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Board</title>
</head>
<body>
  <p th:if="${account}" th:text="|안녕하세요, ${account}님.|"></p>

  <h1>글 편집하기</h1>
<!--  th:action="@{/board/post(id=${board.id})}"-->
  <form th:object="${board}" method="post">
    <label th:for="title">제목</label>
    <input type="text" th:field="*{title}"
           th:value="*{title}"><br>

    <label th:for="content">내용</label>
    <input type="text" th:field="*{content}"
           th:value="*{content}"><br>

    <input type="submit" name="button" value="편집">

  </form>
</body>
</html>